{{ ansible_managed | comment }}

{% for interface, options in ifupdown_interfaces.iteritems() %}
{% if options.auto is defined and options.auto|bool %}
auto {{ options.device }}
{% endif %}
iface {{ options.device }} inet {{ options.mode | default('dhcp') }}
{% if options.config is defined and options.config|length %}
{% for key, value in options.config.iteritems() %}
{{ key }} {{ value }}
{% endfor %}
{% endif %}
{% endfor %}
